---
import Layout from "@/layouts/Layout.astro";
import Description from "@/sections/Description.astro";
import Hero from "@/sections/Hero.astro";
import Rooms from "@/sections/Rooms.astro";
import Services from "@/sections/Services.astro";

---

<Layout title="Inicio">
	<main class="[&>section]:py-section-vertical-mobile [&>section]:md:py-section-vertical [&>section]:px-section-mobile [&>section]:md:px-section [&>section:last-child]:pb-16">
		<Hero />
		<Description />
		<Rooms />
		<Services />
	</main>
</Layout>
