---
import Gallery from "@/components/Gallery.astro";
import Layout from "@/layouts/Layout.astro";

const salonOroImages = [
    "/salones/oro/1.webp",
    "/salones/oro/2.webp",
    "/salones/oro/3.webp",
    "/salones/oro/4.webp",
];
---

<Layout title="Salones para eventos">
    <div class="pt-20">
        <Gallery title="Salón oro" imagesUrl={salonOroImages}/>
    </div>
</Layout>
