---
import Gallery from "@/components/Gallery.astro";
import Layout from "@/layouts/Layout.astro";

const salonOroImages = [
    "/salones/oro/1.webp",
    "/salones/oro/2.webp",
    "/salones/oro/3.webp",
    "/salones/oro/4.webp",
];

const salonMedellinImages = [
    "/salones/medellin/1.webp",
    "/salones/medellin/2.webp",
    "/salones/medellin/3.webp",
    "/salones/medellin/4.webp",
    "/salones/medellin/5.webp",
    "/salones/medellin/6.webp",
    "/salones/medellin/7.webp",
]
---

<Layout title="Salones para eventos">
    <div class="pt-20">
        <Gallery title="Salón oro" imagesUrl={salonOroImages}/>
        <Gallery title="Salón Medellín" imagesUrl={salonMedellinImages} />
    </div>
</Layout>
