---
import Screen from "@/components/Screen.astro";
import ScreenContainer from "@/components/ScreenContainer.astro";
import Layout from "@/layouts/Layout.astro";
import ServicesList from "@/sections/ServicesList.astro";
---

<Layout title="Servicios">
    <section class="pt-16">
        <ServicesList>
    </section>
</Layout>

