---
import Location from "@/atoms/icons/Location.astro";
import Whatsapp from "@/atoms/icons/Whatsapp.astro";
import Mail from "@/atoms/icons/Mail.astro";
import LocationOn from "@/atoms/icons/LocationOn.astro";
import GoogleMaps from "@/atoms/icons/GoogleMaps.astro";
---

<div class="flex gap-3">
    <a
        href="https://www.google.com.co/maps/place/Cl.+54+%23%2345-92,+Medell%C3%ADn,+Antioquia/@6.2511386,-75.5652774,17z/data=!4m13!1m7!3m6!1s0x8e4428f9d364712f:0xa5e595415be7f21b!2sCl.+54+%23%2345-92,+Medell%C3%ADn,+Antioquia!3b1!8m2!3d6.2511333!4d-75.5630887!3m4!1s0x8e4428f9d364712f:0xa5e595415be7f21b!8m2!3d6.2511333!4d-75.5630887?hl=es"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i><GoogleMaps/></i>
    </a>

    <a
        href="https://api.whatsapp.com/send?phone=573164824343&text=GranHotel"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i><Whatsapp /></i>
    </a>

    <a
        href="mailto:mercadeo@granhotel.com.co"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white"
    >
        <i><Mail /></i>
    </a>
</div>

<style>
    a {
        transition: scale ease 400ms,
        
    }

    a:hover {
        scale: 1.10;
        transition-duration: 200ms;
    }
</style>
