---
interface Props {
    title: string;
    imagesUrl: string[];
}

const { title, imagesUrl } = Astro.props;
---

<h2 class="text-center text-3xl text-red-500 mb-4 slide-in-lr">{title}</h2>
<div class="gallery grid md:grid-cols-2 mx-auto [&>div]:mb-4 gap-4 px-4">
    {
        imagesUrl.map((imageUrl, index) => (
            <div class="h-46 w-full overflow-hidden">
                <img
                    class="w-full h-full object-cover"
                    src={imageUrl}
                    loading="lazy"
                    alt={`Imagen del salon oro número ${index}`}
                />
            </div>
        ))
    }
</div>
