---
import Apartament from "@/atoms/icons/Apartament.astro";
import Chair from "@/atoms/icons/Chair.astro";
import LocationOn from "@/atoms/icons/LocationOn.astro";
import Restaurant from "@/atoms/icons/Restaurant.astro";
import Card from "@/components/Card.astro";
---

<section aria-label="Descubre medellín desde el corazón de la ciudad">
    <div class="grid lg:grid-cols-3 gap-4">
        <Card title="Ubicación Estratégica">
            <div slot="description">
                <p>
                    Ubicado en el centro de la ciudad, a solo minutos de la
                    emblemática Plaza Botero y el Museo de Antioquia.
                </p>
                <p>
                    A solo cinco minutos de dos estaciones del metro. Disfruta
                    una excelente oferta gastronómica en los alrededores y la
                    cercanía al Centro Comercial Camino Real.
                </p>
            </div>
            <i slot="icon">
                <LocationOn />
            </i>
        </Card>
        <Card title="Instalaciones y Servicios">
            <i slot="icon">
                <Apartament />
            </i>
            <div slot="description">
                <p>
                    Contamos con piscina, zona cardio, parqueadero y salones
                    para eventos.
                </p>
                <p>
                    Tenemos 108 habitaciones, algunas con capacidad para
                    familias o grupos de hasta 5 personas diseñadas para
                    ofrecerte el máximo confort y descanso.
                </p>
            </div>
        </Card>
        <Card title="Salones de eventos">
            <i slot="icon">
                <Chair />
            </i>
            <div slot="description">
                <p>
                    Para una celebración sofisticada, una conferencia
                    corporativa o un evento especial.
                </p>
                <p>
                    Nuestros espacios se adaptan a cualquier ocasión. Celebra
                    momentos inolvidables en nuestros salones de eventos
                    elegantes, confortables y funcionales.
                </p>
                <a
                    href="/salones"
                    class="text-black transition-colors duration-200 hover:text-red-granhotel"
                >
                    <strong>Haz click para conocer nuestros salones...</strong>
                </a>
            </div>
        </Card>
    </div>
</section>

<style>
    div > p:first-child {
        color: #222;
    }
</style>
