<section>
    <div class="relative">
        <div
            class="absolute w-screen h-screen flex flex-col-reverse items-center top-0"
        >
            <div class="p-5 bg-slate-950/90 w-full" id="hero">
                <h1 class="text-5xl text-orange-400 montserrat-500">Bienvenido a Gran Hotel</h1>
                <h2 class="text-2xl text-slate-300 montserrat-500">
                    Descubre Medellín desde el centro. Confort y elegancia te esperan.
                </h2>
            </div>
        </div>
        <div class="w-screen h-screen" id="background-image"></div>
    </div>
</section>