<section class="px-section-mobile md:px-section py-4">
    <h2 class="text-4xl text-center mb-4">
        <span class="inline px-4"
            ><strong>Todos nuestros servicios</strong></span
        >
    </h2>
    <div class="columns-1 md:columns-2 lg:columns-3 px-4">
        <ul>
            <h3>Ideal para tu estancia</h3>
            <li>Parking gratis</li>
            <li>Parking</li>
            <li>WiFi gratis</li>
            <li>Habitaciones familiares</li>
            <li>Adaptado personas de movilidad reducida</li>
            <li>Servicio de habitaciones</li>
            <li>Traslado aeropuerto</li>
            <li>Servicio de aparcacoches</li>
            <li>Información turística</li>
            <li>Piscina al aire libre</li>
        </ul>

        <ul>
            <h3>Exteriores</h3>
            <li>Mobiliario exterior</li>
            <li>Terraza</li>
        </ul>

        <ul>
            <h3>Internet</h3>
            <p>
                Hay conexión a internet Wi-Fi Gratis disponible en todo el
                establecimiento
            </p>
        </ul>

        <ul>
            <h3>Aparcamiento</h3>
            <p>
                Hay parking gratis privado en el establecimiento. No se puede
                reservar.
            </p>
            <li>Servicio de aparcacoches</li>
            <li>Parking adaptado para personas de movilidad reducida</li>
        </ul>

        <ul>
            <h3>Servicios de recepción</h3>
            <li>Proporciona factura</li>
            <li>Servicio de conserjería</li>
            <li>Guardaequipaje</li>
            <li>Información turística</li>
            <li>Recepción 24 horas</li>
        </ul>

        <ul>
            <h3>Instalaciones de negocios</h3>
            <li>Fax / fotocopiadora</li>
            <li>Centro de negocios <span>De pago</span></li>
            <li>Salas de reuniones / banquetes <span>De pago</span></li>
        </ul>

        <ul>
            <h3>Seguridad</h3>
            <li>Extintores</li>
            <li>Cámaras de seguridad fuera del alojamiento</li>
            <li>Cámaras de seguridad en las zonas comunitarias</li>
            <li>Detectores de humo</li>
            <li>Alarma de seguridad</li>
            <li>Tarjeta de acceso</li>
            <li>Seguridad 24 horas</li>
            <li>Caja fuerte</li>
        </ul>

        <ul>
            <h3>General</h3>
            <li>Servicio de traslado <span>De pago</span></li>
            <li>Zona TV / salón de uso compartido</li>
            <li>Zona de fumadores</li>
            <li>Prohibido fumar en todo el alojamiento</li>
            <li>Ascensor</li>
            <li>Habitaciones familiares</li>
            <li>Adaptado personas de movilidad reducida</li>
            <li>Traslado aeropuerto <span>De pago</span></li>
            <li>Habitaciones sin humo</li>
            <li>Servicio de habitaciones</li>
        </ul>

        <ul>
            <h3>Accesibilidad</h3>
            <li>Apoyo visual: braille</li>
            <li>WC con barras de apoyo</li>
            <li>Adaptado para sillas de ruedas</li>
        </ul>

        <ul>
            <h3>
                Piscina al aire libre <span class="!text-white !bg-green-500"
                    >Gratis</span>
            </h3>
            <li>Horario de apertura: 10:00-22:00</li>
            <li>Abierta todo el año</li>
            <li>Para todas las edades</li>
            <li>Piscina en la azotea</li>
            <li>Valla alrededor de la piscina</li>
        </ul>

        <ul>
            <h3>Idiomas qué se hablan</h3>
            <li>Ingles</li>
            <li>Español</li>
        </ul>
    </div>
</section>

<style>
    h3 {
        font-size: 1.5rem;
    }

    li {
        font-size: 0.9rem;
        padding: 1px;
    }

    li::before {
        content: "\2713";
        margin-right: 4px;
    }

    p {
        font-size: 0.95rem;
        color: #333;
    }

    ul span {
        background-color: #ccc;
        padding: 0.25rem;
        border-radius: 0.125rem;
        font-size: 0.875rem /* 14px */;
        line-height: 1.25rem;
    }
</style>
